@model StudentDashboardVM;
@inject ISessionService service
@inject IDropdownService dropdownService
@{
    ViewData["Title"] = "Dashboard";
}
<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Dashboard</h3>
    <ul>
        <li>
            <a asp-action="Index" asp-controller="Dashboard"><i class="fa fa-home"></i></a>
        </li>
        <li>Dashboard</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Dashboard summery Start Here -->
<div class="row gutters-20 align-items-stretch">

    <div class="col-xl-3 col-sm-6 col-12 mb-4 d-none">
        <div class="dashboard-summery-one mb-0 h-100">
            <div class="d-flex flex-row  align-items-center">
                <div class="p-1">
                    <div class="item-icon bg-light-green f30">
                        <p> <span class="bx bx-timer bx-fw"></span></p>
                    </div>
                </div>
                <div class="flex-fill">
                    <div class="item-content">
                        <div class="item-title">Active Session</div>
                        <div class="item-name f12 text-dark mini-bold"><span>2020/2021 | Second Term</span><br /><span class="small">October 31, 2022.</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
        @if (Model.ClassRoom != null)
        {
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="dashboard-summery-one mb-0 h-100">
                    <div class="d-flex flex-row align-items-center">
                        <div class="p-1">
                            <div class="item-icon bg-light-green f30">
                                <p> <span class="fa fa-chalkboard-teacher"></span></p>
                            </div>
                        </div>
                        <div class="flex-fill">
                            <div class="item-content">
                                <div class="item-title">My Classroom</div>
                                <div class="item-name f14 text-dark mini-bold">@Model.ClassRoom.Class @Model.ClassRoom.RoomCode
                                <br />
                                <a href="@(service.BaseUrl)classrooms/wardClassroom/@(Model.ClassRoom?.Id)" class="btn btn-info py-1 rounded-pill px-3">View &nbsp;<i class="fa fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }



        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="dashboard-summery-one mb-0 h-100">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-1">
                        <div class="item-icon bg-light-green f30">
                            <p> <span class="fa fa-book"></span></p>
                        </div>
                    </div>
                    <div class="flex-fill">
                        <div class="item-content">
                            <div class="item-title">My Subjects</div>
                            <div class="item-number"><span class="counter" data-num="@Model.MySubjectCount">@Model.MySubjectCount</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="dashboard-summery-one mb-0 h-100">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="item-icon bg-light-yellow">
                            <i class="flaticon-couple text-orange"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title">My Guardians</div>
                            <div class="item-number"><span class="counter" data-num="@Model.MyGuardianCount">@Model.MyGuardianCount</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

</div>
<!-- Dashboard summery End Here -->